.form_box {
    max-width: 1000px;
    margin: 0 auto;
    .date_picker {
        width: 100%;
    }
    .btn {
        width: 20%;
        min-width: 100px;
        margin-right: 5%;
    }
     :global {
        .ant-select-lg .ant-select-selection--multiple {
            min-height: 158px;
        }
    }
}